$font: "Trebuchet MS", Arial, Helvetica, sans-serif;

table {
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.titles {
    font-family: $font;  
    padding: 16px;
    text-align: left;
    background-color: rgb(20, 140, 187);
    color: white;   
}
.content {
    font-family: $font;
    border: 1px solid #ddd;
    padding: 8px;
}

.err{
    padding: 5px;
}

.danger{
    color: #fff;
    background-color: #f53d3d;
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
}

p{
    color: rgb(18, 104, 153);
    font-weight: bold;
    font-size: 15px;
}

.search-div{
    padding: 7px;
    background-color: rgb(224, 219, 201);
}

#search-box{
    font-family: $font;
    font-size: 15px;
    padding: 6px 10px 6px 10px;
    border: 1px solid gray;
}


@media only screen and (max-width: 600px) {
    table {
        text-align: center;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
    }
} 

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    .active>a {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }
    li {
        display: inline;
        
        a {
            position: relative;
            float: left;
            padding: 6px 12px;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    }
    
    li:first-child>a{
        margin-left: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    li:last-child>a{
        margin-left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}