<div class="search-div">
    <input id="search-box" [(ngModel)]="searchText" type="text" placeholder="Search.." />
</div>
<table>
    <tr>
        <th class="titles" text-center>
            <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
        </th>
        <th class="titles" *ngFor="let header of headers" text-center>{{header}}</th>
    </tr>
    <tr *ngFor="let item of pagedItems| search: searchText">
        <td text-center class="content">
            <input type="checkbox" (change)="checkedRow($event,item.id)" value="item.id" [(ngModel)]="item.state" />
        </td>
        <td class="content" *ngFor="let element of elements" text-center>{{item[element]}}</td>
    </tr>
    <tr text-center>
        <td class="err" colspan="12">{{err}}</td>
    </tr>
</table>
<br>

<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li>
        <a (click)="setPage(1)">First</a>
    </li>
    <li>
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li>
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li>
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>
<div>
    <button margin-top class="danger " (click)='presentConfirm()' [disabled]="row==0 ">Delete</button>
    <p>Number Of Rows Selected : {{row}} </p>
</div>